/* selector{
    property: value ;
} */

.col{
    background-color: gray;
    border: 2px solid black;
}

/* 
body{
    margin: 0px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid magenta;
    border-right: 2px solid magenta;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px saddlebrown ;
    margin: 0px;
    margin-top: 10px;
}

img{
    width: 450px;
    height: 250px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
transform: scale(1.1);
} */


/* 

* {
    text-align: right;
}

body{
    background-image: url(https://media.istockphoto.com/photos/data-stream-picture-id1384378940);
    background-size: cover;
}


p {
    color: #8f4a8d;
    text-align: center;
    border: 5px rgb(125, 209, 162) dashed ;
    cursor: pointer;
}

p{
line-height: 50px ;
font-style: italic;
font-weight: bold ;
font-size: 180%;
font-family: 'Poiret One', cursive;
}
img{
    float: right;
}
footer{
clear: both;
text-align: center;
}
p{
    color: black;  
}
li{
    list-style: none;
    display: inline-block;
}

.webtext:last-child {
    border: dashed 2px green;
}

.active {
    color: red;
}

#div1{
    background: rgba(0, 255, 0, 0.2);
}

#div2{
    background: rgba(255, 0, 0, 0.2);
} */